
.brand-about {
  background-color: var(--white);
  height: 100svh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    'abText abText abText'
    'green green green'
    'green green green'
    'green green green'
    'footer footer footer'
    ;
}


.aboutText {
  grid-area: abText;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 10px;
  padding: 0px;

}
.aboutText h2 {
  font-size: 86px;
 color: var(--black);
  margin: 0px;
  line-height: 0px;
  padding: 0px;
}



.mypicture {
  grid-area: green;
  background-image: url("/public/personal-portrait.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   margin: 20px;
   margin-bottom: -90px;
 

}

